<div id="mainWrapper" class="container">

  <div class="fb-like"
       data-href="http://levar.me"
       data-send="false"
       data-layout="box_count"
       data-width="450"
       style="margin-bottom: 10px;"
       data-show-faces="false">
  </div>

  <a href="https://twitter.com/share"
     class="twitter-share-button"
     data-url="http://levar.me"
     data-text="#carona #agora"
     data-lang="pt">Tweetar</a>

  <div class="row">
    <div class="topBanners span12">
      <div class="container">

        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item designerGamer">
              <iframe width="853" height="480" src="http://www.youtube.com/embed/hC_M6PzXS9g" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="contentAreas span12"></div>
  </div>
  <div id="footerWrapper">
    <div class="row footerRows">
      <a href="http://carona.wufoo.com/forms/quero-carona/" target="_blank">
        <div class="footerSquares span3 subBox1 hidden-phone receber" title="Quero receber carona">
          <img class="socialLinks" src="/assets/walking.png">
          <div class="border"></div>
        </div>
      </a>
      <a href="http://carona.wufoo.com/forms/ofereco-carona/" target="_blank">
        <div class="footerSquares span3 subBox1 hidden-phone oferecer" title="Quero oferecer carona">
          <img class="socialLinks" src="/assets/jeep.png">
          <div class="border"></div>
        </div>
      </a>
      <a href="http://www.facebook.com/events/405818862834790/" target="_blank">
        <div class="footerSquares bumpTopRow span9 subBox2">
            <span class="contactMe">RIO e-Music FESTIVAL</span>
        </div>
      </a>
    </div>
    <div class="row footerRows noBorder">
      <a href="http://carona.wufoo.com/forms/quero-carona/" target="_blank">
        <div class="footerSquares span3 subBox1 hidden-phone receber" title="Quero receber carona">
          <img class="socialLinks" src="/assets/walking.png">
          <div class="border"></div>
        </div>
      </a>
      <a href="http://carona.wufoo.com/forms/ofereco-carona/" target="_blank">
        <div class="footerSquares span3 subBox1 hidden-phone oferecer" title="Quero oferecer carona">
          <img class="socialLinks" src="/assets/jeep.png" >
          <div class="border"></div>
        </div>
      </a>
      <a href="http://www.facebook.com/events/389689934452951/" target="_blank">
        <div class="footerSquares bumpTopRow span9 subBox2">
            <span class="contactMe">Kaballah Circus Festival</span>
        </div>
      </a>
    </div>
  </div>
</div>

<script>
    $(function() {
        $(".receber").tooltip();
        $(".oferecer").tooltip();
    });
</script>