<%= render "wegadget/header" %>

<div class="main-buttons">
    <a class="btn btn-success btn-large btn-size" href="/welcome/reader">Answer as reader</a>
    <a class="btn btn-info btn-large btn-size" href="/welcome/writer">Answer as writer</a>
</div>