<%= render "wegadget/header" %>

<div class="container special-content">
  <div class="content">
    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span8">
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <div class="hero-unit">
              <h1>Turn External Links Into Money</h1>
              <p>Create additional revenue from your website without taking any ad space. Integration is fast and easy. Low minimum payout. Payment available via PayPal. Register now and make money with AdPop interstitial ad network.</p>
            </div>
          </div>
        </div><div class="row">

        <h2>Are you interested about tutorials? Help us to find the best way to share it with you =)</h2>

        <div class="main-buttons">
            <a class="btn btn-success btn-large btn-size" href="/welcome/reader">Answer as reader</a>
            <a class="btn btn-info btn-large btn-size" href="/welcome/writer">Answer as writer</a>
        </div>

      </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->