<%= render "wegadget/header" %>

<div class="container special-content">
  <div class="content">
    <div class="row">
      <div class="span8">
        <div class="row">
          <div class="span8">
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <div class="hero-unit">
              <h1>WeGadget</h1>
              <p>WeGadget aims to change the way you solve your gadget problems:  No more forums, just beautifully rich tutorials written by enthusiasts. </p>
               <p>Learn how to do cool things with your gadgets.</p>
                <p>We're gearing up for Beta and would love to know more about you. </p>
               <p> Yes, we're hitting on you.  So what do you say? </p>
            </div>
          </div>
        </div><div class="row">
          <p>Please fill out one of the forms, based on how nerdy you see yourself.</p>

        <div class="main-buttons">
            <a class="btn btn-inverse btn-large btn-size" href="/welcome/reader">Normal</a>
            <a class="btn btn-danger btn-large btn-size" href="/welcome/writer">Geeky as fuck</a>
        </div>

      </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->