<div id="mainWrapper" class="container">

  <div class="fb-like"
       data-href="http://levar.me"
       data-send="false"
       data-layout="box_count"
       data-width="450"
       style="margin-bottom: 10px;"
       data-show-faces="false">
  </div>

  <a href="https://twitter.com/share"
     class="twitter-share-button"
     data-url="http://levar.me"
     data-text="#carona #agora"
     data-lang="pt">Tweetar</a>

  <div class="row">
    <div class="topBanners span12">
      <div class="container">

        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item designerGamer">
              <h1>Levar.me<br>o futuro do compartilhamento</h1>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="contentAreas span12"></div>
  </div>
  <div id="footerWrapper">
        <div class="row footerRows">
          <a href="#">
            <div class="footerSquares span9 subBox1 hidden-phone carona">
                <span class="contactMe">Quero receber carona</span>
                <div class="border"></div>
            </div>
          </a>
          <div class="border"></div>
          <a href="#">
            <div class="footerSquares span9 subBox1 hidden-phone carona">
                <span class="contactMe">Quero oferecer carona</span>
            </div>
          </a>
        </div>
  </div>
</div>

<div id="dialog-modal" title="Levar.me">
  <h6>Ficou interessado? Informe seu e-mail para receber as atualizações</h6>
  <input type="text" placeholder="your@email.com" style="vertical-align: top; margin-left: 40px; width: 305px; text-align: center; margin-top: 15px;"/>
  <button class="btn btn-success" style="margin-top: 15px;">GO</button>
</div>

<script>
    $(function() {
        $(".carona")
            .button()
            .click(function() {
                $( "#dialog-modal" ).dialog( "open" );
            });

        $( "#dialog-modal" ).dialog({
            autoOpen: false,
            height: 200,
            width: 485,
            modal: true
        });
    });
</script>