<%= render "wegadget/header" %>


<%= image_tag("phone_icon.jpg", :id => "imgGadget", :width => "100px", :height => "100px", :class => "imgGadget") %>
<input type="text" id="gadget" placeholder="Type your gadget here..." class="txtGadget"/>


<div class="items"></div>
<div class="loader"></div>

<script type="text/javascript">

    scrollPagination(null, 1);

    /*  -----------------------   PAGINATION WITH SCROLL ------------------------------------  */

    function scrollPagination(parameter, page) {

        $(function(){
            var qtdResults = 0;
            $('.items').scrollPagination({
                'contentPage': '/tutorial/list', // the url you are fetching the results
                'contentData': {}, // these are the variables you can pass to the request, for example: children().size() to know which page you are
                'scrollTarget': $(window), // who gonna scroll? in this example, the full window
                'heightOffset': 10, // it gonna request when scroll is 10 pixels before the page ends
                'beforeLoad': function(){ // before load function, you can display a preloader div
                    $('.loader').fadeIn();
                    qtdResults = $('.result').size(); //guarda em uma variavel a quantidade de divs com class 'result' antes de carregar novamente do banco.
                    var contentPage = '/tutorial/list';
                    if (page > 1 && parameter != null){
                        contentPage += "?page="+page+"&category_id="+parameter;
                    }
                    else if (page > 1) {
                        contentPage += '?page='+page;
                    }
                    else if (parameter != null) {
                        contentPage += '?category_id='+parameter;
                    }
                    this.contentPage = contentPage;
                },
                'afterLoad': function(elementsLoaded){ // after loading content, you can use this function to animate your new elements
                    $('.loader').fadeOut();
                    $(elementsLoaded).fadeIn();
                    if (qtdResults != $('.result').size()) {
                        page++;
                    }
                    if ($('.result').size() > 500) { // if more than 500 results already loaded, then stop pagination (only for testing)
                        $('.items').stopScrollPagination();
                    }
                }
            });
        });

    }

    /*  -----------------------   AUTOCOMPLETE WITH JQUERY UI AND GOOGLE SEARCH IMAGE API ------------------------------------  */

    $(function() {

        var principal = "https://www.googleapis.com/customsearch/v1?";
        var keyGoogle = "AIzaSyBjCmHNmgYtzjImhQRDdD8uC5eDK9Uedhc";
        var cx = "868056535109.apps.googleusercontent.com";

        $( "#gadget" ).autocomplete({
            source: "/category/list",
            select: function( event, ui ) {
                $.ajax({
                    success: function(data) {
                        var call = principal+"key="+keyGoogle+"&cx="+cx+"&searchType=image&q="+ui.item.name;
                        $.getJSON(call, function(data) {
                            $('#imgGadget').attr("src", data.items[0].link);
                        });
                        $('.result').remove();
                        scrollPagination(ui.item.id, 1);
                    }
                });
            }
        });

    });

</script>