<%= render "wegadget/header" %>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>WeGadget</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600' rel='stylesheet' type='text/css'>
</head>

<body>

<div id="wrapper" class="container">

  <div id="main">
    <div class="row">
      <section id="app-info" class="span6">
        <h1>helenamcfreire</h1>
        <p>In a nutshell, lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</p>

        <h2>Tutoriais escritos por você:</h2>
        <ul class="features-list">
          <li>Morbi in sem quis dui placerat ornare. </li>
          <li>Praesent dapibusaccumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus.</li>
          <li>Morbi in sem quis dui placerat ornare. </li>
          <li>Praesent dapibusaccumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus.</li>
          <li>Morbi in sem quis dui placerat ornare. </li>
          <li>Praesent dapibusaccumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus.</li>
          <li>Morbi in sem quis dui placerat ornare. </li>
          <li>Praesent dapibusaccumsan porttitor, facilisis luctus, metus.</li>
          <li>Phasellus ultrices nulla quis nibh.</li>
          <li>Pellentesque fermentum dolor. Aliquam quam lectus.</li>
        </ul>

      </section><!-- /features-->

      <section id="app-scene" class="span5">
            <div id="app-show" class="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag('avatar1.jpg') %>
                </div>
              </div>
            </div>
    </section><!--/app-scene-->


  </div>  <!-- /row-->

</div>  <!-- /main-->

</div><!--/wrapper-->

</body>
</html>