#featured{
    width: 1170px!important;
    height: 400px!important;
    background: #144552; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0NDU1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzI3NTQ2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzI3NTQ2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iIzI3NTQ2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzQzNGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #144552 0%, #275460 34%, #275460 38%, #275460 42%, #13434f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#144552), color-stop(34%,#275460), color-stop(38%,#275460), color-stop(42%,#275460), color-stop(100%,#13434f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #144552 0%,#275460 34%,#275460 38%,#275460 42%,#13434f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #144552 0%,#275460 34%,#275460 38%,#275460 42%,#13434f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #144552 0%,#275460 34%,#275460 38%,#275460 42%,#13434f 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144552', endColorstr='#13434f',GradientType=0 ); /* IE6-8 */
    overflow:hidden;
}

#featured>img,#featured>div,#featured>a{
    display:none
}

div.orbit-wrapper{
    width:1px;
    height:1px;
    position:relative
}

div.orbit{
    width:1px;
    height:1px;
    position:relative;
    overflow:hidden
}

div.orbit>img{
    position:absolute;
    top:0;
    left:0;
    display:none

}

div.orbit>a{
    border:none;
    position:absolute;
    top:0;
    left:0;
    line-height:0;
    display:none;
    width:1170px;
    height:400px
}

.orbit>div{
    position:absolute;
    top:0;
    left:0;
    width:1170px;
    height:400px
}

div.timer{width:20px;height:20px;overflow:hidden;position:absolute;bottom:10px;right:10px;opacity:.6;cursor:pointer;z-index:50}span.rotator{display:block;width:20px;height:20px;position:absolute;top:0;left:-10px;background:url(/assets/orbit/rotator-black.png) no-repeat;z-index:3}span.mask{display:block;width:10px;height:20px;position:absolute;top:0;right:0;z-index:2;overflow:hidden}span.rotator.move{left:0}span.mask.move{width:20px;left:0;background:url(/assets/orbit/timer-black.png) repeat 0 0}span.pause{display:block;width:20px;height:20px;position:absolute;top:0;left:0;background:url(/assets/orbit/pause-black.png) no-repeat;z-index:4;opacity:0}span.pause.active{background:url(/assets/orbit/pause-black.png) no-repeat 0 -20px}div.timer:hover span.pause,span.pause.active{opacity:1}.orbit-bullets{position:absolute;z-index:900;list-style:none;bottom:0px;left:50%;margin-left:-50px;padding:0}.orbit-bullets li{float:left;margin-left:5px;cursor:pointer;color:#999;text-indent:-9999px;background:url(/assets/orbit/bullets.png) no-repeat 0 0;width:12px;height:12px;overflow:hidden}.orbit-bullets li.active{color:#222;background-position:-20px 0}.orbit-bullets li.has-thumb{background:none;width:100px;height:75px}.orbit-bullets li.active.has-thumb{background-position:0 0;border-top:2px solid #000}