// Place all the styles related to the tutorial controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-fields {
  margin-left: 78px;
}

.show-more a {
  text-decoration: none;
  color: #333;
  overflow: hidden;
  font-weight: bold;
  cursor: auto;
}

.show-more a:hover {
  color: #08C;
  text-decoration: none;
}

.row {
  zoom: 1;
  margin-left: 134px!important;
}

.row > [class*="span"] {
  display: inline;
  float: left;
}

.span12 {
  width: 700px;
}

table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table td {
  vertical-align: top;
  border-top: 1px solid #DDD;
}

table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}


table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

.align-form {
  width: 1084px!important;
  margin-left: 71px!important;
}

.tutorial-title {
  background: #333;
  font-size: 40px;
  line-height: 45px;
  padding: 20px 15px;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}

.tutorial-description {
  margin-bottom: 0px!important;
  padding: 0.5em 0px!important;
  border: 0px!important;
  outline: 0px!important;
  font-size: 16px!important;
  vertical-align: baseline!important;
  background-color: transparent!important;
  font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif!important;
  line-height: 22.383333206176758px!important;
}

.tutorial {
  padding: 10px;
  background: white;
  width: 870px;
  margin-left: 183px;
  font-family: Tahoma, Verdana, sans-serif;
  color: #555;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EEE;
}