@import "bootstrap";

.search-input {
  width: 430px;
  padding: 8px!important;
}

.align-search-input {
  padding-left: 40px;
  margin-left: 320px;
}

.align-trending-topics {
  margin-left: 460px;
  list-style: none;
}

.align-lets-write-tutorial {
  margin-left: 400px;
  position: absolute;
  bottom: 0;
}


.lets-write-tutorial {
  width: 440px!important;
  padding: 12px;
  margin-bottom: 20px;
}