@import "bootstrap";

* {
  outline:none !important;

}
body.duggieTown { background:#f2f2f2; letter-spacing:1px;}
#mainWrapper { margin:40px auto 20px; background-color: #F3F3F3!important;}
.brand {
  max-width:75px;
  padding:20px 20px !important;
}
.navbar-inner {
  background:none no-repeat;
  border:none;
  border-radius:none;
  box-shadow:none;
  padding-right:0;
}
.navbar { margin-bottom:0px;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background: none;
  box-shadow: none;
  color:#F8382E;
  text-decoration: none;
}
.navbar .nav > li > a:hover {color:#8aa2a8;}
.navbar .nav > li > a {
  font-size:18px;
  font-weight:400;
  letter-spacing:1px;
  color: #ffffff;
  float: none;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: none;
}
.topBanners {
  background: #144552; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0NDU1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzI3NTQ2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzI3NTQ2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iIzI3NTQ2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzQzNGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #144552 0%, #275460 34%, #275460 38%, #275460 42%, #13434f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#144552), color-stop(34%,#275460), color-stop(38%,#275460), color-stop(42%,#275460), color-stop(100%,#13434f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #144552 0%,#275460 34%,#275460 38%,#275460 42%,#13434f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #144552 0%,#275460 34%,#275460 38%,#275460 42%,#13434f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #144552 0%,#275460 34%,#275460 38%,#275460 42%,#13434f 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144552', endColorstr='#13434f',GradientType=0 ); /* IE6-8 */
}
.tertHeader { min-height:115px;}
.contentWrap {padding-top:20px; padding-bottom:30px;}
.contentContents, #contact-form { margin:0 20px;}
.divRight { border-right:2px #f8382e solid; padding-bottom:40px;}

#footerWrapper {border-top:2px solid #ffffff;}
#footerWrapper .row { margin-left:0;}
.bumpTopRow { padding-right:30px;}
.footerRows { border-bottom:2px solid #ffffff;}
.footerSquares {
  background:#f8382e;
  height:100px;
  margin-left:0 !important;
  padding-left: 10px;
  text-align: center;
}
.footerSquares.span4 { width:390px;}
.footerSquares.bottomSpans:hover, .footerSquares .nestedRows:hover, .footerSquares.span3:hover, .footerSquares.span9:hover { background: #8aa2a8; cursor:pointer;}
.nestedRows { height:50px; border-bottom:2px solid #ffffff; width:100%;}
.dropBorder { border:none; height:48px;}
.noBorder { border:none;}
.border {
  width:2px;
  background:#ffffff;
  margin:0;
  padding:0;
  float:right;
  height:100px;
}
#circleC {
  font-size:10px;
  color:#f8382e;
  height:20px;
  background:#f2f2f2 !important;
}
.socialLinks { height:60%; padding-top:20px;}
.socialThumbs { height:60%; padding-top:10px;}
.contactMe {
  color:#ffffff !important;
  font-size:46px;
  letter-spacing:2px;
  font-weight:bold;
  line-height:95px;
}
#footerWrapper a {text-decoration:none !important;}
.backToTop { display:none;}
.lastOne { height:48px;}
.navbar .btn-navbar {
  margin:20px 20px 0 0;
  border-radius: 0;
  background:#F8382E;
}
.navbar .btn-navbar:hover { background:#8aa2a8;}
.icon-bar { box-shadow:none !important;}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { border-radius:0;}

.carousel-control {
  background:none;
  border: none;
  border-radius:0;
  height: 30px;
  width: 30px;
  left: 15px;
  line-height: 19px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  top: 90%;
}

a:focus{ outline:none !important;}

.carousel-control:hover {color:#154551;}

.carousel { min-height:400px; color:#ffffff;}

.carousel-inner > div {
  padding: 120px 25px 20px 20px;
}

.designerGamer .btn-duggie { margin-top:5px;}

.designerGamer {
  text-align: right;
}




.btn-duggie {
  color:#fff;
  font-size:16px !important;
  font-weight:500 !important;
  border-radius: 0;
  text-shadow: none;
  background-color:#F8382E;
  background-image:none;
  border:none;
  box-shadow:none;
  padding:5px 12px 7px;
}
.btn-duggie:hover,.btn-duggie:active,.btn-duggie.active,.btn-duggie.disabled,.btn-duggie[disabled]{color:#fff;background-color:#8aa2a8;}
.btn-duggie:active,.btn-duggie.active{background-color:#8aa2a8; margin-top:6px;}

/* RULES */
.right { float:right;}
.left { float:left;}


#req-field-desc {font-style:italic;}
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}
/* Normalize placeholder styles */
/* chrome, safari */
::-webkit-input-placeholder {
  color:#CCC;
  font-style:italic;
}
/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#CCC;
  font-style:italic;
}
/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
  color:#CCC;
  font-style:italic;
}

/* NO MORE RED SHADING */
/* chrome, safari */
::-webkit-input-placeholder {
  color:#CCC;
  font-style:italic;
}
/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#CCC;
  font-style:italic;
}
/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
  color:#CCC;
  font-style:italic;
}


/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .bumpTopRow { padding-right:20px;}
  .footerSquares.span4 { width:313px;}
  .nestedRowsWrap { width:314px !important}
}


@media (max-width: 979px) {
  .footerSquares.span4 { width:242px;}
  .socialLinks { height:50%;}
  .navbar-inner { padding-left:0;}
  .navbar .brand { margin-left:20px !important; padding-left:0 !important;}
  .mobileMainNav { background:#8aa2a8; text-align:right; margin-bottom:-2px !important;}
  .navbar .nav > li > a:hover {color:#ffffff; background:#F8382E;}
  .nestedRowsWrap { width:240px !important;}

}

@media (max-width: 767px) {
  #mainWrapper { margin:0 auto 0;}
  .navbar .brand {width:50px;}
  .footerSquares.span4, .nestedRowsWrap { width: inherit !important;}
  .footerSquares { height:40px;}
  .nestedRows, .lastOne { height:40px; width:50% !important; border-bottom:none;}
  .bumpTopRow { padding-right:0;}
  .subBox1 { background:#f8382e;}
  .subBox2 { background:#cc2f27;}
  .subBox3 { background:#b32922;}
  .subBox4 { background:#99231d;}
  .subBox5 { background:#801d18;}
  .subBox6 { background:#6e1915;}
/*body.duggieTown { background:#541310;}*/
  #circleC {padding:0 10px 0;}
  .footerSquares.span4, .footerSquares.span3, .footerSquares.span9 { border-bottom:2px solid #ffffff;}
  .footerRows { border-bottom:none;}
  .mobiLeft { float:left;}
  .mobiRight { float:right;}
  .mobiBorder {
    width:2px;
    background:#ffffff;
    margin:0;
    padding:0;
    float:right;
    height:40px;
  }
  .backToTop { display:block;}
  .socialLinks { height:60%; padding-top:8px;}
  .socialThumbs { height:60%; padding-top:8px;}
  .contactMe {
    color:#ffffff !important;
    font-size:23px;
    letter-spacing:2px;
    font-weight:bold;
    line-height:35px;
  }
  .divRight {
    border-right:none;
    padding-bottom:0;
    border-bottom:2px #f8382e solid;
    margin-bottom:30px;
  }
  #contact-form #submit-button {
    width: 100%;
  }
  body { padding:0 !important;}
  .border { display:none;}

}

@media (max-width: 480px) {
  .carousel { min-height:165px; color:#ffffff;}
  .carousel-inner > div { padding:0px 25px 0px 20px;}
  .designerGamer h1 { font-size:23px;}
}

.container {
  width: 1170px;
}

.row::before, .row::after {
  display: table;
  line-height: 0;
  content: "";
}

.row {
  margin-left: 0!important;
}

.span12 {
  width: 1170px;
  margin-left: 0;
}

.span9 {
  width: 574px;
}

.span3 {
  width: 95px;
}

.ui-widget-header {
  border: 1px solid #144552;
  background-color: #144552;
  color: #ffffff;
  font-weight: bold;
}

h6 {
  color: #144552;
}