<%= render "wegadget/header" %>


<div class="row">
<div class="span12">

<table class="org-list" cellspacing="0" cellpadding="0">

  <% if @tutorials.empty? %>
      <div class="alert alert-info">
            <h4 class="alert-heading">
              No tutorial found in this category =( &nbsp;&nbsp;
              <%= link_to 'Write a new one', {:controller => "tutorial", :action => "new"}, :class => "btn btn-primary" %>
            </h4>
      </div>
  <% else %>
      <thead>
      <tr class="org-item">
        <th></th>
        <th class="hidden-phone header">
          <i class="icon-heart"></i>
        </th>
      </tr>
      </thead>
  <% end %>

<tbody>

<% @tutorials.each do |t| %>

<tr class="org-item">
  <td>
    <div class="org-item">
      <span class="show-more">
        <%= link_to t.title, {:controller => "tutorial", :action => "show", :id => t.id} %>
      </span>
    </div>
  </td>
  <td class="hidden-phone">
    <span class="label label-success myTooltip" style="color:white;"><%= t.vote %></span>
  </td>
</tr>

<% end %>

</tbody>

</table>

</div>
</div>