<% @tutorials.each do |t| %>

    <div class="result">
        <div class="pin">
          <div class="pic">
                <a href="#">
                  <img src="/assets/facebook.jpg">
                </a>
          </div>
          <div class="text"><%= link_to t.title, {:controller => "tutorial", :action => "show", :id => t.id} %></div>
        </div>
    </div>

<% end %>