

<table>
      <tr>
        <th>Tutoriais</th>
      </tr>
  <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= tutorial.title %></td> <!-- some attr -->
      </tr>
      <tr>
        <td><%= tutorial.description %></td> <!-- some attr -->
      </tr>
  <% end %>

</table>

<%= link_to("New Tutorial", {:action => 'incluir'}) %> <br />