<%= render "wegadget/header" %>

  <div class="tutorial">

        <h2 class="tutorial-title"><%= @tutorial.title %></h2>

        <%= raw @tutorial.description %><!-- esse raw serve pra imprimir texto html -->

  </div>
