<%= render "wegadget/header" %>

  <div class="show-tutorial">

        <h2 class="show-tutorial-title"><%= @tutorial.title %></h2>

        <%= raw @tutorial.description %> <!-- esse raw serve pra imprimir texto html -->

  </div>
