<%= render "wegadget/header" %>

  <div class="tutorial">

        <h2 class="tutorial-title"><%= @tutorial.title %></h2>

        <div class="tutorial-description">
            <%= raw @tutorial.description %><!-- esse raw serve pra imprimir texto html -->
        </div>

  </div>

<style type="text/css">

blockquote[style], blockquote {
        margin-top: 1em!important;
        margin-bottom: 1em!important;
        padding: 1em 2em!important;
        border-width: 1px 1px 1px 8px!important;
        border-top-style: solid!important;
        border-right-style: solid!important;
        border-bottom-style: solid!important;
        border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgb(65, 183, 219)!important;
        outline: 0px; font-size: 1.05em!important;
        vertical-align: baseline!important;
        background-color: rgb(247, 247, 247)!important;
        quotes: none!important;
        font-style: italic!important;
        line-height: 1.55em!important;
        font-family: 'Skolar Italic', 'Times New Roman', serif!important;
        color: rgba(0, 0, 0, 0.74902)!important;
    }

    pre[style], pre {
        margin-bottom: 0px!important;
        padding: 15px!important;
        border: 0px!important;
        outline: 0px!important;
        vertical-align: baseline!important;
        background-color: rgb(254, 254, 236)!important;
        white-space: pre-line!important;
        line-height: 22.383333206176758px!important;
    }


p[style], p {
    margin-bottom: 0px!important;
    padding: 0.5em 0px!important;
    border: 0px!important;
    outline: 0px!important;
    font-size: 16px!important;
    vertical-align: baseline!important;
    background-color: transparent!important;
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif!important;
    line-height: 22.383333206176758px!important;
}

h1[style],h2[style],h3[style],h4[style],h5[style],h6[style],h1,h3,h4,h5,h6 {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding: 1.5em 0px 0.5em!important;
    border: 0px; outline: 0px!important;
    font-size: 1.5em!important;
    vertical-align: baseline!important;
    background-color: transparent!important;
    font-family: 'Skolar Bold', 'Times New Roman', serif!important;
    line-height: 1.3em!important;
    color: rgb(51, 51, 51)!important;
}

</style>